<div class="chartContainer">
    <ngx-charts-bar-vertical-stacked [legendTitle]="''"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
        (select)="onSelect($event)"
        [xAxisTickFormatting]="formatDate"
        [barPadding]="0">
    </ngx-charts-bar-vertical-stacked>
</div>