<div #ContainerRef
    class="card-body">
    <ngx-charts-bar-vertical [view]="[ContainerRef.offsetWidth, 300]"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [scheme]="colorScheme"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
</div>