<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async)?.columns }}"
    rowHeight="200px">
    <!-- Cards -->
    <mat-grid-tile *ngFor="let mc of ( cardLayout | async )?.top?.data"
      [colspan]="( cardLayout | async )?.top?.cols"
      [rowspan]="( cardLayout | async )?.top?.rows">
      <cd-card [title]="mc.title">
        <p> {{ mc }} </p>
      </cd-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile *ngFor="let mc of ( cardLayout | async )?.middle?.data"
      [colspan]="( cardLayout | async )?.middle?.cols"
      [rowspan]="( cardLayout | async )?.middle?.rows">
      <cd-card [title]="mc.title">
        <cd-component-wrapper [item]="mc.component"></cd-component-wrapper>
      </cd-card>
    </mat-grid-tile>
    <!-- Tables -->
    <mat-grid-tile *ngFor="let mc of ( cardLayout | async )?.bottom?.data"
      [colspan]="( cardLayout | async )?.bottom?.cols"
      [rowspan]="( cardLayout | async )?.bottom?.rows">
      <cd-card [title]="mc.title">

      </cd-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>